<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitoramento do Ambiente Inteligente</title>
</head>
<body>
    <h3><a href="{{ url_for('index') }}">Início</a></h3>

    <h1>Atuadores</h1>

    <h2>Ar Condicionado</h2>
    <p>Status: <span id="status-ar-condicionado">Aguardando atualização...</span></p>

    <h2>Sistema de Controle de Incêndio</h2>
    <p>Status: <span id="status-sistema-incendio">Aguardando atualização...</span></p>

    <h2>Lâmpada</h2>
    <p>Status: <span id="status-lampada">Aguardando atualização...</span></p>

    <script>
        // Função para fazer a requisição e atualizar o status do ar condicionado
        function atualizarStatusArCondicionado() {
            fetch('/api/status-ar-condicionado')
                .then(response => response.json())
                .then(data => {
                    const statusElement = document.getElementById('status-ar-condicionado');
                    statusElement.textContent = data.ligado ? 'Ligado' : 'Desligado';
                })
                .catch(error => console.error('Erro ao obter o status do ar condicionado:', error));
        }

        // Função para fazer a requisição e atualizar o status do sistema de controle de incêndio
        function atualizarStatusSistemaIncendio() {
            fetch('/api/status-sistema-incendio')
                .then(response => response.json())
                .then(data => {
                    const statusElement = document.getElementById('status-sistema-incendio');
                    statusElement.textContent = data.ligado ? 'Ligado' : 'Desligado';
                })
                .catch(error => console.error('Erro ao obter o status do sistema de controle de incêndio:', error));
        }

        // Função para fazer a requisição e atualizar o status da lâmpada
        function atualizarStatusLampada() {
            fetch('/api/status-lampada')
                .then(response => response.json())
                .then(data => {
                    const statusElement = document.getElementById('status-lampada');
                    statusElement.textContent = data.ligada ? 'Ligado' : 'Desligado';
                })
                .catch(error => console.error('Erro ao obter o status da lâmpada:', error));
        }

        // Atualizar os status periodicamente (por exemplo, a cada 5 segundos)
        setInterval(() => {
            atualizarStatusArCondicionado();
            atualizarStatusSistemaIncendio();
            atualizarStatusLampada();
        }, 5000);
    </script>
</body>
</html>
